.movies__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 270px);
  grid-gap: 31px 20px;
  justify-content: center;
  padding: 0 70px 30px;
}

.movies__button-container {
  padding: 50px 70px 100px;
}

.movies__button-more-container {
  padding: 50px 70px 109px;
}

.movies__button {
  width: 100%;
  padding: 11px 0 9px;
  border-radius: 6px;
  background-color: #f9f9f9;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
}

@media screen and (max-width: 1023px) {
  .movies__container {
    grid-template-columns: repeat(auto-fill, 339px);
    grid-gap: 36px 30px;
    max-width: 708px;
    padding: 0 30px;
  }

  .movies__button-container {
    max-width: 708px;
    padding: 80px 30px 21px;
  }

  .movies__button-more-container {
    padding: 2px 70px 109px;
  }
  
}

@media screen and (max-width: 767px) {
  .movies__container {
    grid-template-columns: repeat(auto-fill, 300px);
    grid-gap: 20px;
    max-width: 300px;
    padding: 0 10px;
  }

  .movies__button-container {
    max-width: 300px;
    padding: 80px 10px 101px;
  }
  
  .movies__button-more-container {
    height: 10px;
  }
}
