.promo {
  width: 100%;
  background-color: #073042;
}

.promo__container {
  height: 560px;
  padding: 0 70px;
  background-image: url("../../images/landing.svg");
  background-position: bottom 60px right 70px;
  background-repeat: no-repeat;
}

.promo__title {
  width: 626px;
  margin: 0;
  padding: 50px 0 102px;
  color: #fff;
  font-size: 40px;
  line-height: 52px;
  letter-spacing: -0.04em;
  font-weight: 400;
  border-bottom: none;
}

@media screen and (max-width: 1023px) {
  .promo__container {
    height: 844px;
    padding: 0 30px;
    background-position: bottom 70px center;
    background-size: 680px 230px;
  }

  .promo__title {
    width: 668px;
    padding: 300px 0 0;
    text-align: center;
  }
}

@media screen and (max-width: 767px) {
  .promo__container {
    height: 630px;
    max-width: 300px;
    padding: 0 10px;
    background-position: bottom 40px center;
  }

  .promo__title {
    width: 300px;
    padding: 182px 0 60px;
    text-align: center;
    font-size: 31px;
    line-height: 39px;
  }
}
