.filter-checkbox {
  display: flex;
  gap: 14px;
  align-items: center;
  height: 20px;
  padding: 0 0 43px;
  border-bottom: 1px solid #aaa;
}

.filter-checkbox__label {
  position: relative;
  width: 36px;
  height: 20px;
}

.filter-checkbox__input {
  display: none;
}

.filter-checkbox__switch {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.4s;
  background-color: #2be080;
  border-radius: 20px;
  cursor: pointer;
}

.filter-checkbox__switch::before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.4s;
}

.filter-checkbox__input:focus + .filter-checkbox__switch {
  box-shadow: 0 0 1px #2be080;
}

.filter-checkbox__input:checked + .filter-checkbox__switch::before {
  transform: translateX(16px);
}

.filter-checkbox__text {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

@media screen and (max-width: 1023px) {
  .filter-checkbox {
    gap: 14px;
    padding: 0 0 51px;
  }
}

@media screen and (max-width: 767px) {
  .filter-checkbox {
    gap: 13px;
    padding: 0 0 63px;
  }

  .filter-checkbox__text {
    font-size: 11px;
    line-height: 18px;
  }
}
