.auth__container {
  display: flex;
  flex-direction: column;
  /* height: 560px; */
  max-width: 396px;
  padding: 0 70px;
}

.auth__header {
  padding: 70px 0 40px;
}

.auth__title {
  margin: 0;
  padding: 0 0 40px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 500;
}

.auth__form {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 0 16px;
}

.auth__input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 0;
}

.auth__label {
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
}

.auth__input {
  padding: 16px 15px 15px 15px;
  border: none;
  outline: none;
  background-color: #f9f9f9;
  border-radius: 8px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

.auth__input_invalid {
  color: #ff3055;
}

.auth__button {
  margin: 0;
  padding: 13px 0 15px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #fff;
  background-color: #3456f3;
  border-radius: 3px;
}

.auth__info {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin: 0;
  padding: 0 0 16px;
}

.auth__info-text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #a0a0a0;
}

.auth__info-link {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  color: #3456f3;
  text-decoration: none;
}

.auth__error {
  height: 22px;
  margin: 0;
  padding: 0;
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  color: #ff3055;
}

.auth__error_password {
  padding: 0 0 69px;
}

.auth__error_signin-password {
  padding: 0 0 158px;
}

.auth__button_disabled {
  background-color: #f9f9f9;
  color: #a0a0a0;
  cursor: default;
}

@media screen and (max-width: 1023px) {
  .auth__container {
    justify-content: center;
    padding: 0 30px;
  }

  .auth__header { 
    padding: 232px 0 40px;
  }
}

@media screen and (max-width: 767px) {
  .auth__container {
    padding: 0 30px;
  }

  .auth__header {
    display: flex;
    justify-content: center;
    padding: 56px 0 50px;
  }

  .auth__title {
    padding: 0 0 80px;
  }

  .auth__title {
    text-align: center;
  }

  .auth__form {
    padding: 0 0 14px;
  }

  .auth__button {
    padding: 15px 0;
    font-size: 12px;
    line-height: 15px;
  }

  .auth__button_signin {
    margin: 243px 0 0;
  }

  .auth__info {
    gap: 7px;
  }

  .auth__info-text {
    font-size: 12px;
    line-height: 15px;
  }

  .auth__info-link {
    font-size: 12px;
    line-height: 15px;
  }

  .auth__error_password {
    padding: 0 0 156px;
}

.auth__error_signin-password {
  padding: 0 0 245px;
}
}
