.about-me__container {
  padding: 0 70px;
}

.about-me__title {
  padding: 112px 0 22px;
}

.about-me__profile {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 66px 0 85px;
}

.about-me__info {
  max-width: 600px;
}

.about-me__name {
  padding: 1px 0 18px;
}

.about-me__job {
  margin: 0;
  padding: 0 0 25px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
}

.about-me__about {
  margin: 0;
  padding: 0 0 99px;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.about-me__link {
  display: block;
  margin: 0;
  padding: 0 0 16px;
  color: black;
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
}

.about-me__photo {
  width: 270px;
  height: 327px;
}

@media screen and (max-width: 1023px) {
  .about-me__container {
    padding: 0 50px;
  }

  .about-me__title {
    padding: 92px 0 22px;
  }

  .about-me__profile {
    padding: 67px 0 76px;
  }

  .about-me__info {
    max-width: 364px;
  }

  .about-me__name {
    padding: 1px 0 13px;
    font-size: 40px;
    line-height: 40px;
    font-weight: 400;
  }

  .about-me__photo {
    width: 255px;
    height: 307px;
  }

  .about-me__job {
    padding: 0 0 21px;
    font-size: 12px;
    line-height: 18px;
  }

  .about-me__about {
    font-size: 12px;
    line-height: 18px;
    padding: 0 0 87px;
  }
}

@media screen and (max-width: 767px) {
  .about-me__container {
    max-width: 292px;
    padding: 0 14px;
  }

  .about-me__title {
    padding: 52px 0  27px;
  }

  .about-me__profile {
    flex-direction: column;
    gap: 40px;
    padding: 59px 0 54px;
  }

  .about-me__photo {
    width: 292px;
    height: 352px;
    order: 1;
  }

  .about-me__info {
    order: 2;
  }

  .about-me__name {
    font-size: 30px;
    line-height: 36px;
    padding: 1px 0 21px;
  }

  .about-me__job {
    font-size: 11px;
    line-height: 16px;
    padding: 0 0 19px;
  }

  .about-me__about {
    font-size: 11px;
    line-height: 16px;
    padding: 0 0 40px;
  }

  .about-me__link {
    font-size: 14px;
    line-height: 17px;
  }
}
